@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html, body {
    margin: 0;
    height: 100%;
    font-size: 1vw;
    scroll-behavior: smooth;
}

body {
    background: #000;
    color: #ddd;
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
}

.headertext {
    font-size: 5rem;
    font-weight: 800;
    margin: 2rem;
    text-shadow: 0 0 3rem rgba(255,255,255,0.5), 0 0 2rem #0aa;
}

.main {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.block {
    height: 30rem;
    width: 22rem;
    background: #030303;
    padding: 1rem;
    border: solid 0.4rem #ddd;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
}

.block:hover {
    background-color: #111;
    box-shadow: 0 0 1.5rem rgba(255,255,255,0.5);
}

.blocktitle {
    font-size: 3rem;
    font-weight: 700;
    align-self: center;
    margin: 0.8rem;
    text-shadow: 0 0 2rem rgba(255,255,255,0.5);
}

.blocktext {
    font-size: 1.5rem;
    text-align: justify;
}

.blockprice {
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    margin-top: auto;
}

.blockbtn {
    font-size: 2rem;
    align-self: center;
    color: #ddd;
    text-decoration: none;
    border: solid 0.4rem #0aa;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
    transition: 0.2s;
}

.blockbtn:hover {
    background: #0aa;
    color: #111;
}